In [0]:
import sqlite3
import pandas as pd

## Primeiros passos com Jupyter + SQLite3

In [0]:
#Criando um bd em arquivo
# conectando...
conn = sqlite3.connect('estados.db')
# definindo um cursor
cursor = conn.cursor()

# criando a tabela (schema)
cursor.execute("""
CREATE TABLE estados (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        uf TEXT NOT NULL,
        estado TEXT NOT NULL
);
""")

print('Tabela criada com sucesso.')
# desconectando...
conn.close()

Tabela criada com sucesso.

## Populando BD

In [0]:
one = ("AC", "ACRE")


#Populando uma instancia por vez
conn = sqlite3.connect('estados.db')
cursor = conn.cursor()

cursor.execute("""
INSERT INTO estados (uf, estado)
VALUES ('AC', 'ACRE')
""")

# gravando no bd
conn.commit()
conn.close()

#Olhando o BD
conn = sqlite3.connect('estados.db')
cursor = conn.execute('select * from estados')
rows = cursor.fetchall()
conn.close()
rows

[(1, 'AC', 'ACRE')]

In [0]:

many = [("AL", "ALAGOAS"), 
("AP", "AMAPÁ"), 
("AM", "AMAZONAS"), 
("BA", "BAHIA"), 
("CE", "CEARÁ"), 
("DF", "DISTRITO FEDERAL"), 
("GO", "GOIÁS"), 
("ES", "ESPÍRITO SANTO"), 
("MA", "MARANHÃO"), 
("MT", "MATO GROSSO"), 
("MS", "MATO GROSSO DO SUL"), 
("MG", "MINAS GERAIS"), 
("PA", "PARÁ"), 
("PB", "PARAIBA"), 
("PR", "PARANÁ"), 
("PE", "PERNAMBUCO"), 
("PI", "PIAUÍ"), 
("RJ", "RIO DE JANEIRO"), 
("RN", "RIO GRANDE DO NORTE"), 
("RS", "RIO GRANDE DO SUL"), 
("RO", "RONDÔNIA"), 
("RR", "RORAIMA"), 
("SP", "SÃO PAULO"), 
("SC", "SANTA CATARINA"), 
("SE", "SERGIPE"), 
("TO", "TOCANTINS")]

#Populando varias instancias por vez
conn = sqlite3.connect('estados.db')
cursor = conn.cursor()

# inserindo dados na tabela
cursor.executemany("""
INSERT INTO estados (uf, estado)
VALUES (?,?)
""", many)

conn.commit()
conn.close()

#Olhando o BD
conn = sqlite3.connect('estados.db')
sql = """select * from estados"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#
rows

[(1, 'AC', 'ACRE'),
 (2, 'AL', 'ALAGOAS'),
 (3, 'AP', 'AMAPÁ'),
 (4, 'AM', 'AMAZONAS'),
 (5, 'BA', 'BAHIA'),
 (6, 'CE', 'CEARÁ'),
 (7, 'DF', 'DISTRITO FEDERAL'),
 (8, 'GO', 'GOIÁS'),
 (9, 'ES', 'ESPÍRITO SANTO'),
 (10, 'MA', 'MARANHÃO'),
 (11, 'MT', 'MATO GROSSO'),
 (12, 'MS', 'MATO GROSSO DO SUL'),
 (13, 'MG', 'MINAS GERAIS'),
 (14, 'PA', 'PARÁ'),
 (15, 'PB', 'PARAIBA'),
 (16, 'PR', 'PARANÁ'),
 (17, 'PE', 'PERNAMBUCO'),
 (18, 'PI', 'PIAUÍ'),
 (19, 'RJ', 'RIO DE JANEIRO'),
 (20, 'RN', 'RIO GRANDE DO NORTE'),
 (21, 'RS', 'RIO GRANDE DO SUL'),
 (22, 'RO', 'RONDÔNIA'),
 (23, 'RR', 'RORAIMA'),
 (24, 'SP', 'SÃO PAULO'),
 (25, 'SC', 'SANTA CATARINA'),
 (26, 'SE', 'SERGIPE'),
 (27, 'TO', 'TOCANTINS')]

## Definindo funções - CRUD

In [0]:
def db_insert(uf, estado):
    return """
    INSERT INTO estados (uf, estado)
    VALUES ('{}', '{}')
    """.format(uf, estado)
  
def db_update(uf, ufnew):
    return """
    UPDATE estados SET uf = '{}' WHERE uf = '{}'
    """.format(ufnew, uf)

def db_delete(uf):
    return """
    DELETE FROM estados WHERE uf = '{}'
    """.format(uf)
  
def db_select(field, data):
    return """
    select id, uf 
    FROM estados
    WHERE {}='{}'
    """.format(field, data)

## Usando as funções

In [0]:
#Delete
conn = sqlite3.connect('estados.db')
cursor = conn.execute(db_delete('SP'))
conn.commit()

sql = """select * from estados"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
#
rows

In [0]:
#Insert
cursor = conn.execute(db_insert('SPP', 'SÃO PAULO'))
conn.commit()

sql = """select * from estados"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
#
rows

In [0]:
#Select

cursor = conn.execute(db_select('uf', 'MG'))
rows = cursor.fetchone()

#
rows

(13, 'MG')

In [0]:
#Update

cursor = conn.execute(db_update('SPP', 'SP'))
conn.commit()

sql = """select * from estados"""
cursor = conn.execute(sql)
rows = cursor.fetchall()
conn.close()
#
rows

## Usando Pandas

In [0]:
ids = []
ufs = []
estados = []

for element in rows:
  ids.append(element[0])
  ufs.append(element[1])
  estados.append(element[2])

In [0]:
dic = {
    'id': ids,
    'uf': ufs,
    'estado': estados
}
dic

In [0]:
dataframe = pd.DataFrame(dic)
dataframe.head()

   id  uf    estado
0   1  AC      ACRE
1   2  AL   ALAGOAS
2   3  AP     AMAPÁ
3   4  AM  AMAZONAS
4   5  BA     BAHIA

## Introdução a Chave estrangeira

In [0]:

conn = sqlite3.connect('artistexample.db')
conn.execute("PRAGMA foreign_keys = 1")
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE artist(
  artistid    INTEGER PRIMARY KEY, 
  artistname  TEXT
);
""")

conn.commit()


cursor.execute("""
CREATE TABLE track(
  trackid     INTEGER, 
  trackname   TEXT, 
  trackartist INTEGER,
  FOREIGN KEY(trackartist) REFERENCES artist(artistid)
);
""")
conn.commit()

In [0]:
cursor.execute("PRAGMA table_info('track')").fetchall()

[(0, 'trackid', 'INTEGER', 0, None, 0),
 (1, 'trackname', 'TEXT', 0, None, 0),
 (2, 'trackartist', 'INTEGER', 0, None, 0)]

In [0]:
# inserindo dados na tabela
cursor.executemany("""
INSERT INTO artist (artistid, artistname)
VALUES (?,?)
""", [(1,'Dean Martin'), (2, 'Frank Sinatra')])

conn.commit()

tracks = [
(11, "That's Amore", 1),  
(12, "Christmas Blues", 1),  
(13, "My Way", 2), 
]

cursor.executemany("""
INSERT INTO track (trackid, trackname, trackartist)
VALUES (?,?,?)
""", tracks)

conn.commit()

In [0]:
cursor.execute("SELECT * FROM artist;").fetchall()

[(1, 'Dean Martin'), (2, 'Frank Sinatra')]

In [0]:
cursor.execute("SELECT * FROM track;").fetchall()

[(11, "That's Amore", 1), (12, 'Christmas Blues', 1), (13, 'My Way', 2)]

### O que irá acontecer?

In [0]:
cursor.execute("""
INSERT INTO track VALUES(14, 'Mr. Bojangles', 3);
""")
conn.commit()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

IntegrityError: ignored

In [0]:
cursor.execute("SELECT * FROM track;").fetchall()

[(11, "That's Amore", 1), (12, 'Christmas Blues', 1), (13, 'My Way', 2)]

In [0]:
cursor.execute("""
INSERT INTO track VALUES(14, 'Mr. Bojangles', NULL);
""")
conn.commit()

In [0]:
cursor.execute("SELECT * FROM track;").fetchall()

[(11, "That's Amore", 1),
 (12, 'Christmas Blues', 1),
 (13, 'My Way', 2),
 (14, 'Mr. Bojangles', None)]

In [0]:
cursor.execute("""
UPDATE track SET trackartist = 3 WHERE trackname = 'Mr. Bojangles';
""")
conn.commit()
cursor.execute("SELECT * FROM track;").fetchall()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

IntegrityError: ignored

In [0]:

cursor.execute("""
INSERT INTO artist VALUES(3, 'Sammy Davis Jr.');
""")
conn.commit()
cursor.execute("""
UPDATE track SET trackartist = 3 WHERE trackname = 'Mr. Bojangles';
""")
conn.commit()
cursor.execute("SELECT * FROM track;").fetchall()

[(11, "That's Amore", 1),
 (12, 'Christmas Blues', 1),
 (13, 'My Way', 2),
 (14, 'Mr. Bojangles', 3)]

In [0]:
cursor.execute("SELECT * FROM artist;").fetchall()

[(1, 'Dean Martin'), (2, 'Frank Sinatra'), (3, 'Sammy Davis Jr.')]

In [0]:
cursor.execute("""
INSERT INTO track VALUES(15, 'Boogie Woogie', 3);
""")
conn.commit()
cursor.execute("SELECT * FROM track;").fetchall()

[(11, "That's Amore", 1),
 (12, 'Christmas Blues', 1),
 (13, 'My Way', 2),
 (14, 'Mr. Bojangles', 3),
 (15, 'Boogie Woogie', 3)]

## Introdução a alteração de esquemas

In [0]:
conn = sqlite3.connect('artistexample.db')
conn.execute("PRAGMA foreign_keys = 1")
cursor = conn.cursor()
cursor.execute("""
ALTER TABLE track
ADD JOB TEXT;
""")
conn.commit()
cursor.execute("SELECT * FROM track;").fetchall()

[(11, "That's Amore", 1, None),
 (12, 'Christmas Blues', 1, None),
 (13, 'My Way', 2, None),
 (14, 'Mr. Bojangles', 3, None),
 (15, 'Boogie Woogie', 3, None)]

## Exercicios

![alt text](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

### There are 11 tables in the chinook sample database.

->  employees table stores employees data such as employee id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.

->  customers table stores customers data.

->  invoices & invoice_items tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.

->  artists table stores artists data. It is a simple table that contains only artist id and name.

->  albums table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.

->  media_types table stores media types such as MPEG audio and AAC audio file.

->  genres table stores music types such as rock, jazz, metal, etc.

->  tracks table store the data of songs. Each track belongs to one album.

->  playlists & playlist_track tables: playlists table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists table and tracks table is many-to-many. The playlist_track table is used to reflect this relationship.

1. Sobrenome do gerente que possui mais funcionáios que reportam a ele.
2. Genero com maior quantidade de musicas
3. Nome do cliente com maior consumo na loja
4. Nome da Playlist de maior duração
5. Nome do cantor do genero ROCK que possui mais musicas incluidas em playlist.

In [0]:
!wget http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

--2019-04-25 22:23:26--  http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 66.147.244.187
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|66.147.244.187|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  1.23MB/s    in 0.2s

2019-04-25 22:23:27 (1.23 MB/s) - ‘chinook.zip’ saved [305596/305596]

In [0]:
!unzip chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

In [0]:
conn = sqlite3.connect('chinook.db')